.rewards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .lightning-icon {
    font-size: 80px; /* İkon boyutu artırıldı */
    color: #ff0;
    animation: flash 1.5s infinite;
    margin-bottom: 20px;
  }
  
  @keyframes flash {
    0%, 50%, 100% {
      opacity: 1;
    }
    25%, 75% {
      opacity: 0.5;
    }
  }
  
  .rewards-header {
    margin-bottom: 40px; /* Rewards title ve icon arasına mesafe eklendi */
  }
  
  .rewards-title {
    font-size: 24px;
    font-weight: bold;
  }
  
  .rewards-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .reward-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    width: 100px;
  }
  
  .rewards-note {
    margin-bottom: 60px; /* Buton ile aradaki mesafe artırıldı */
    font-size: 14px;
  }
  
  .continue-button {
    background-color: #fff !important; /* Beyaz arka plan */
    color: #000 !important; /* Siyah metin */
    padding: 15px 40px; /* Daha geniş buton */
    text-transform: none;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 30%; /* Buton genişletildi */
  }
  
  .continue-button:hover {
    background-color: #ddd !important;
  }
  