.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 10px 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.footer .MuiIconButton-root {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(255, 255, 255, 0.6); /* İkonların varsayılan rengi */
}

.footer .MuiTypography-caption {
  margin-top: 5px;
}

.footer .MuiIconButton-root.active {
  color: white;
}

.active-icon {
  color: rgba(255, 255, 255, 0.9); /* Aktif ikonların rengi */
}
/* styles.css */

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.bounce {
  animation: bounce 0.5s;
}
