body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #fff;
  overflow-x: hidden; /* Yatay kaydırma çubuğunu gizler */
  height: 100vh;
  width: 100vw;
}

.tasks-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-title {
  background: linear-gradient(90deg, #ff5722, #ff9800, #ffeb3b, #8bc34a, #00bcd4, #3f51b5, #9c27b0);
  background-clip: text;
  color: transparent;
  animation: gradient-animation 5s ease infinite;
  background-size: 200% 200%;
  font-size: 1.2rem; /* Küçük font boyutu */
}

.task-card {
  background: linear-gradient(145deg, #4a4a4a, #2a2a2a); /* Gri ile siyah rengi arasında geçiş */
  background-size: 200% 200%; /* Animasyon için gerekli */
  animation: gradient-animation 5s ease infinite; /* Animasyon ekleniyor */
  color: #fff;
  width: 100%; /* Kartların genişliğini %100 yapıyoruz */
  padding: 10px; /* Daha az padding */
}

.task-avatar {
  background-color: #007bff;
  color: white;
  width: 40px; /* Daha küçük avatar */
  height: 40px; /* Daha küçük avatar */
  font-size: 1.2rem; /* Daha küçük font boyutu */
}

.MuiIconButton-root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.MuiIconButton-root svg {
  font-size: 20px; /* Daha küçük icon boyutu */
}

.MuiIconButton-root .MuiTypography-caption {
  margin-top: 3px;
  font-size: 0.7rem; /* Daha küçük font boyutu */
}

.claim-button {
  background-color: #d3d3d3 !important; /* Açık gri renkte buton */
  color: #fff !important; /* Beyaz yazı */
  font-size: 0.7rem !important;
  padding: 5px 10px !important;
}

@media (max-width: 600px) {
  .header-title {
    font-size: 1rem;
  }

  .task-card {
    padding: 8px; /* Daha küçük padding */
  }

  .MuiIconButton-root svg {
    font-size: 18px;
  }

  .MuiIconButton-root .MuiTypography-caption {
    font-size: 0.6rem;
  }
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
