* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Box-sizing: border-box tüm elementler için uygulanır */
}

body {
    overflow: hidden; /* Tüm sayfa için taşmayı gizler */
}

.game-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh; /* Telegram viewport yüksekliğini ayarlar */
    overflow: hidden; /* Scroll ve kayma işlemlerini engeller */
    position: relative; /* İçeriklerin konumlandırılması için */
    padding: 0; /* Padding sıfırlama */
}

.game-container {
    width: 100%;
    height: 100%;
    position: relative; /* İçeriklerin konumlandırılması için */
}

.stage-wrapper {
    width: 100%;
    height: 100%;
    position: relative; /* İçeriklerin konumlandırılması için */
}

.game-over, .time-up {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
}

.game-over h1, .time-up h1 {
    color: red;
    font-size: 36px;
    margin: 0;
}

.game-over h2, .time-up h2 {
    color: white;
    font-size: 24px;
    margin: 10px 0;
}

.game-over Button, .time-up Button {
    margin-top: 10px;
}

.konvajs-content canvas {
    position: absolute !important;
    top: 0;
    left: 0;
    height: 100vh; /* Canvas yüksekliğini tam ekran yapalım */
    width: 100%; /* Canvas genişliğini tam ekran yapalım */
}
